@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .App{
    background-color: #011e20;
    color: white;
    position: relative;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #011e20;
}
::-webkit-scrollbar-thumb{
    background-color: #233335;
}
